---
layout: home
section: resources
title: Resources
permalink: resources.html
---

<div class="resources">
    <ul class="resource-nav">
        {% for res in site.data.resources %}
        <li><a href="#{{ res[0] }}">#{{ res[1]["shortname"] }}</a></li>
        {% endfor %}
    </ul>
    {% for res in site.data.resources %}
    <h3 id="{{ res[0] }}">{{ res[1]["fullname"] }}</h3>
    <ul class="resource-list">
        {% for item in res[1].items %}
        <li>
            <p>
                <a href="{{ item["url"] }}" class="res-title">{{ item["title"] }}</a>
                {% if item["developer"] %}
                <span class="res-developer">By <a href="{{ item["developer"]["url"] }}">{{ item["developer"]["name"] }}</a></span>
                {% endif %}
            </p>
            <p class="res-desc">{{ item["desc"] }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
