---
layout: home
section: resources
title: Resources
permalink: resources.html
---

<div class="resources">
    <ul class="resource-nav">
        {% for res in site.data.resources %}
        {% assign itemsCount = res[1]["items"] | size %}
        {% if itemsCount > 0 %}
        <li><a href="#{{ res[0] }}">#{{ res[1]["shortname"] }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <article>
    {% for res in site.data.resources %}
    {% assign itemsCount = res[1]["items"] | size %}
    {% if itemsCount > 0 %}
    <h3 id="{{ res[0] }}">{{ res[1]["fullname"] }}</h3>
    <ul class="resource-list">
        {% for item in res[1].items %}
        <li>
            <p>
                <a href="{{ item["url"] }}" class="res-title">{{ item["title"] }}</a>
                {% if item["author"] %}
                <small class="res-author">by <a href="{{ item["author"]["url"] }}">{{ item["author"]["name"] }}</a></small>
                {% endif %}
                {% if item["developer"] %}
                <small class="res-developer">by <a href="{{ item["developer"]["url"] }}">{{ item["developer"]["name"] }}</a></small>
                {% endif %}
            </p>
            <p class="res-desc">{{ item["desc"] }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    </article>
    <a href="#" class="top">Top</a>
</div>

<script>
$(document).ready(function(){
    $('.resource-nav a').click(function(){
        var distance = $($(this).attr('href')).offset().top - $(this).offset().top;
        var time = distance>1000 ? 1000 : (distance<200 ? 200 : distance);
        //console.log($(this).attr('href'));
        //console.log($(this).offset().top + '->' + $($(this).attr('href')).offset().top + '=' + distance);
        $('body').animate({scrollTop:$($(this).attr('href')).offset().top}, time);
    });

    $('.resources .top').click(function(){
        var time = $(window).scrollTop()>1000 ? 1000 : ($(window).scrollTop()<200 ? 200 : $(window).scrollTop());
        $('body').animate({scrollTop:0}, time);
    });

    $(window).scroll(function(){
        showGoTopButton();
    });
    $(window).resize(function(){
        showGoTopButton();
    });

    function showGoTopButton() {
        var top = $(window).height() - $('.resource-nav').offset().top - $('.resources .top').height() + $(window).scrollTop();
        if(top > $('.resources').outerHeight()) {
            top = $('.resources').outerHeight() - $('.resources .top').height();
        }
        var navPosition = $('.resource-nav').offset().top + $('.resource-nav').height();
        if($(window).scrollTop() >= navPosition) {
            if($('.resources .top').css('opacity') == '0') {
                $('.resources .top').animate({
                    'opacity' : '.8'
                }, 500);
            }
            $('.resources .top').css({
                'top': top,
                'margin-top': '0'
            });
        } else {
            $('.resources .top').css({
                'opacity': '0'
            });
        }
    }
});
</script>
