<footer>
    <ul class="social-media-list">
        {% if site.github_username %}
        <li>
            <a href="https://github.com/{{ site.github_username }}">github@{{ site.github_username }}</a>
        </li>
        {% endif %}

    </ul>
</footer>

<script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4deffdcc81761f2a607fe0190d9cac56";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>