
@font-face {
    font-family: "Merriweather";
    src: url(../font/Merriweather-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url(../font/Merriweather-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url(../font/Lato-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../font/Lato-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "FiraMono";
    src: url(../font/FiraMono-Regular.otf);
}

body {
    font-size: medium;
    font-family: Merriweather, Georgia, Times, serif;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h5, h6 {
    font-size: 1rem;
}

code {
    font-family: FiraMono, Menlo, monospace;
}


article {
    font-size: 1.125rem;
}