
// Font
@font-face {
    font-family: Merriweather;
    font-weight: normal;
    src: local('Merriweather'),
        url(../font/Merriweather-Regular.woff2) format('woff2'),
        url(../font/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url(../font/Merriweather-Bold.woff2) format('woff2'),
        url(../font/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'),
        url(../font/MerriweatherSans-Regular.woff2) format('woff2'),
        url(../font/MerriweatherSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
        url(../font/MerriweatherSans-Bold.woff2) format('woff2'),
        url(../font/MerriweatherSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: FiraMono;
    font-weight: normal;
    src: local('FiraMono'), local('FiraMono Regular'),
        url(../font/FiraMono-Regular.woff2) format('woff2'),
        url(../font/FiraMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: FiraMono;
    font-weight: bold;
    src: local('FiraMono Bold'), local('FiraMono-Bold'),
        url(../font/FiraMono-Bold.woff2) format('woff2'),
        url(../font/FiraMono-Bold.ttf) format('truetype');
}

$cjk-font: "Noto Sans SC", "Noto Sans TC", "Noto Sans JP", "Noto Sans KR",
           "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK JP", "Noto Sans CJK KR",
           "SourceHanSansSC", "SourceHanSansTC", "SourceHanSansJ", "SourceHanSansK", "SourceHanSans",
           "STHeiti", "Microsoft Yahei";
$serif: Merriweather, Georgia, Times, $cjk-font, serif;
$sans-serif: "Merriweather Sans", Helvetica, Arial, $cjk-font, sans-serif;
$monospace: FiraMono, Menlo, Consolos, $cjk-font, monospace;
$base-font-family: $serif;
$base-font-size: medium; // 16px
$base-line-height: 1.5;
$body-font: $serif;
$heading-font: $sans-serif;
$code-font: $monospace;

// Color
$primary-text-color: rgba(0, 0, 0, .8);
$secondary-text-color: rgba(0, 0, 0, .6);
$disable-text-color: rgba(0, 0, 0, .54);
$primary-text-color-light: rgba(255, 255, 255, 1);
$secondary-text-color-light: rgba(255, 255, 255, .7);
$disable-text-color-light: rgba(255, 255, 255, .3);
$link-text-color: #222;
$hair-line-color: rgba(0, 0, 0, .15);
$hair-line-color-dark: rgba(0, 0, 0, .25);
$hair-line-color-light: rgba(0, 0, 0, .05);
$background-color: #fff;
$highlight-color: #ffb;
$white-color: #fff;
$red-color: #f44336;
$yellow-color: #ff9800;
$green-color: #8bc34a;
$blue-color: #2196f3;

// Dimens
$max-content-width: 740px;
$mobile-device-width: 360px;
$desktop-browser-width: 800px;

// Mixin
@mixin media-max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}
@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

// Reset
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}
code {
    font-family: $code-font;
}
a:link, a:visited {
    color: $primary-text-color;
    text-decoration: none;
}
body {
    color: $primary-text-color;
    background-color: $background-color;
    font: $base-font-size/$base-line-height $body-font;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

/* Main Layout */
.main {
    margin: auto;
    max-width: $max-content-width;
}

.topbar {
    padding: 1rem 0;
    height: 2rem;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 1px;
        overflow: hidden;
        background: $hair-line-color;
        margin-top: -webkit-calc(3rem - 1px);
        margin-top: calc(3rem - 1px);
    }
    .logo {
        float: left;
        font-size: 1rem;
        line-height: 2;
        margin-left: 1rem;
        font-family: $sans-serif;
        font-weight: bold;
    }
    .nav {
        float: right;
        margin-right: 1rem;
        #icon-menu {
            display: none;
            width: 2rem;
            height: 0;
            padding-top: 2rem;
            overflow: hidden;
            line-height: 2;
            background: Red;
        }
        #menu {
            li {
                display: inline-block;
                margin-left: .5rem;
                font-family: $sans-serif;
                text-transform: uppercase;
                a {
                    padding: 0 .5rem;
                    height: 2rem;
                    line-height: 2;
                    display: block;
                }
            }
        }
    }
}
@include media-min-width($max-content-width) {
    header {
        .brand {
            margin-left: 2rem;
        }
        .nav {
            margin-right: 2rem;
        }
    }
}
//$mobile-device-width
//@include media-max-width(400px) {
//    header {
//        .nav {
//            #icon-menu {
//                display: block;
//            }
//            #menu {
//                display: none;
//            }
//        }
//    }
//}


.postlist {
    .post-entry {
        border-bottom: 1px solid $hair-line-color-light;
        padding: 1rem 1rem -webkit-calc(1rem - 1px) 1rem;
        padding: 1rem 1rem calc(1rem - 1px) 1rem;
    }
    .post-title {
        font-size: 1.25em;
        line-height: 1.6;
        margin-bottom: .5rem;
    }
    .post-link {}
    .post-excerpt {
        color: $secondary-text-color;
    }
    .post-icon {
        display: inline-block;
        width: 1.5rem; //24px
        height: 1.5rem;
        background: #999;
    }
}

footer {
    margin: 2rem auto;
    max-width: $max-content-width;
    color: $secondary-text-color;
    font-size: .875rem;
    line-height: 1.714;
    font-family: $sans-serif;
    p {
        padding: 1rem 1rem 0;
    }
    & a:link, & a:visited {
        color: inherit;
        text-decoration: underline;
    }
    & a:hover, & a:active {
        color: $primary-text-color;
    }
    .social-list {
        padding: 2rem 1rem 1rem;
        overflow: hidden;
        .social-icon {
            display: block;
            width: 24px;
            height: 0;
            padding-top: 24px;
            margin: 0 auto 8px;
            overflow: hidden;
            background-image: url(../img/social_icons.svg);
            background-repeat: no-repeat;
            transition: transform 200ms cubic-bezier(0.6, 0, 0.4, 1);
        }
        .social-text {
            display: block;
            font-size: .75rem;
            opacity: 0;
            transition: opacity 200ms cubic-bezier(0, 0, 1, 1);
        }
        .ic-dribbble {
            background-position: 0 0;
        }
        .ic-behance {
            width: 30px;
            background-position: 0 -96px;
        }
        .ic-github {
            background-position: 0 -48px;
        }
        .ic-weibo {
            width: 28px;
            background-position: 0 -144px;
        }
        li {
            float: left;
            a {
                float: left;
                width: 3.5rem;
                margin-right: .5rem;
                text-align: center;
                &:link, &:visited {
                    color: $disable-text-color;
                    text-decoration: none;
                }
                &:hover, &:active {
                    .social-icon {
                        transform: scale(1.333) translateY(-4px);
                    }
                    .social-text {
                        opacity: 1;
                    }
                    .ic-dribbble {
                        background-position: 0 -24px;
                    }
                    .ic-behance {
                        background-position: 0 -120px;
                    }
                    .ic-github {
                        background-position: 0 -72px;
                    }
                    .ic-weibo {
                        background-position: 0 -168px;
                    }
                }
            }
        }
    }
}

.notfound {
    padding: 5rem 1rem;
    font-size: 1.5rem;
    font-family: $sans-serif;
    text-align: center;
    text-transform: uppercase;
    .status-code {
        position: relative;
        z-index: 3;
        display: block;
        margin: 0 auto 2rem;
        width: 8rem;
        height: 8rem;
        font-size: 2.5rem;
        line-height: 8rem;
        color: #fff;
        background: #CCC;
    }
}

.post{
    max-width: 100%;
    .post-header-wrap, .post-content-wrap, .post-comments-wrap {
        margin: auto;
        max-width: $max-content-width;
    }
}
.post-header {
    padding: 2rem 1rem 1rem;
    .post-title {
        font-size: 2.75rem; // 44px
        line-height: 1.273; // 56px
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .post-tags {
        span {
            display: inline-block;
            margin-right: .2rem;
            padding: .2rem .4rem;
            border-radius: .4rem;
            background: #eee;
            color: $secondary-text-color;
        }
    }
    p {
        margin-bottom: 1rem;
        &.post-publish, &.post-lastmodify {
            color: $secondary-text-color;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.post-figure {
    min-height: 17rem;
    padding: 1rem 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
    @include media-max-width(640px) {
        background-size: auto 100%;
    }
    .post-header {
        .post-title, p, p.post-publish, p.post-lastmodify {
            color: $primary-text-color-light;
            text-shadow: 0 .25rem 1.5rem $disable-text-color;
        }
        .post-tags {
            span {
                color: $primary-text-color-light;
                background: $secondary-text-color;
                text-shadow: none;
            }
        }
    }
}
.post-content {
    font-size: 1.125rem; // 18px
    line-height: 1.778; // 32px
    padding: 1rem;
    a:link, a:visited {
        color: $primary-text-color;
        text-decoration: underline;
    }
    a:hover, a:active {
        color: #000;
    }
    h1 {
        font-size: 2.445em; // 44px
        line-height: 1.273; // 56px
        margin-bottom: .182em; // 8px
    }
    h2 {
        font-size: 2em; // 36px
        line-height: 1.556; // 56px
        margin-bottom: .222em; // 8px
    }
    h3 {
        font-size: 1.556em; // 28px
        line-height: 1.714; // 48px
        margin-bottom: .571em; // 16px
    }
    h4, h5, h6 {
        font-size: 1em; // 18px
        margin-bottom: .889em; // 16px
    }
    p, blockquote, ul, ol {
        margin-bottom: .889em;
    }
    ul, ol {
        padding-left: 1.5em;
        list-style: disc;
        ul, ol {
            margin-bottom: 0;
        }
    }
    ol {
        list-style: decimal;
    }
    table {
        width: 100%;
        font-size: .889em;
        line-height: 1.5;
        margin-bottom: 1em;
        border-collapse: collapse;
        td, th {
            text-align: left;
            padding: .5em;
            border: 1px solid #ccc;
        }
    }
    p > code {
        background: #f5f5f5;
        padding: .222em .444em;
        border-radius: .222em;
    }
    blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 4px solid #eee;
    }
    hr {
        margin: 1.778em auto;
        width: 5em;
        height: 2px;
        border: 0;
        background: $hair-line-color;
    }
    .footnote, .reversefootnote {
        &:link, &:visited {
            text-decoration: none;
        }
    }
}
.post-comments {
    padding: 0 1rem;
    #SOHUCS { padding-top: 2rem; border-top: 1px solid $hair-line-color; }
    #SOHUCS, #SOHUCS #SOHU_MAIN, #SOHUCS #SOHU_MAIN #SOHU-comment-main { font-family: inherit; font-size: 1rem; }
    #SOHUCS #SOHU_MAIN #powerby_sohu { height: 0; }
    #SOHUCS #SOHU_MAIN .section-service-w .service-wrap-w { padding: 0; }
    #SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w a { color: rgba(0, 0, 0, 0); }
    #SOHUCS #SOHU_MAIN .section-list-w .list-comment-empty-w .empty-prompt-w .prompt-null-b { font-size: 1rem; line-height: 1.5; padding:1rem; border-radius: 4px; }
    #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w, #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w img { border-radius: 4px; }
    #SOHUCS #SOHU_MAIN .section-cbox-w { padding-bottom: 41px; }
    #SOHUCS #SOHU_MAIN .section-cbox-w .block-post-w { padding-left: 58px; }
    #SOHUCS #SOHU_MAIN .section-title-w { height: 1.5rem; line-height: 1.5rem; margin: 0 0 1rem; padding: 0; }
    #SOHUCS #SOHU_MAIN .section-title-w .title-join-w .join-wrap-w { font-family: inherit; }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .wrap-name-w { font-size: 1rem; }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w strong.wrap-name-b { color: $primary-text-color; }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w span.wrap-join-b { display: none; }
}

.resources {
    position: relative;
    padding: 1rem;
    .resource-nav {
        padding: 1em 0;
        li {
            display: inline;
            a {
                display: inline-block;
                margin: 0 .3rem .6rem 0;
                padding: .3rem .5rem;
                border-radius: .5rem;
                background: #eee;
                color: $secondary-text-color;
                &:hover, &:active {
                    color: $white-color;
                    background: $red-color;
                }
            }
        }
    }
    h3 {
        font-size: 1.75rem; //28
        line-height: 3rem; //48
        margin-bottom: 1rem;
    }
    .resource-list {
        margin-bottom: 2rem;
        li {
            margin-bottom: 1rem;
        }
        .res-title {
            font-weight: bold;
        }
        .res-author, .res-developer {
            margin-left: .5rem;
            font-size: .875rem;
            color: $secondary-text-color;
            a:link, a:visited {
                color: $secondary-text-color;
            }
            a:hover, a:active {
                text-decoration: underline;
            }
        }
        .res-desc {
            color: $secondary-text-color;
            a:link, a:visited {
                text-decoration: underline;
            }
        }
    }
    .top {
        position: absolute;
        display: block;
        opacity: 0;
        right: 1rem;
        top: 0;
        margin-top: 2rem;
        width: 4rem;
        height: 4rem;
        text-indent: -999px;
        overflow: hidden;
        background: url(../img/top.svg) no-repeat 50%, linear-gradient(#f8f8f8, #eee) no-repeat;
        border-radius: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .2);
        &:hover, &:active {
            box-shadow: 0 6px 12px 2px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .1);
        }
    }
}

// TODO: about,
// TODO: code highlight,
// TODO: scroll
// TODO: mobile menu

// todo: res.yml