---
---
// Font
@font-face {
    font-family: Merriweather;
    font-weight: normal;
    src: local('Merriweather'),
    url(../font/Merriweather-Regular.woff2) format('woff2'),
    url(../font/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Merriweather;
    font-weight: bold;
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url(../font/Merriweather-Bold.woff2) format('woff2'),
    url(../font/Merriweather-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'),
    url(../font/MerriweatherSans-Regular.woff2) format('woff2'),
    url(../font/MerriweatherSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
    url(../font/MerriweatherSans-Bold.woff2) format('woff2'),
    url(../font/MerriweatherSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: FiraMono;
    font-weight: normal;
    src: local('FiraMono'), local('FiraMono Regular'),
    url(../font/FiraMono-Regular.woff2) format('woff2'),
    url(../font/FiraMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: FiraMono;
    font-weight: bold;
    src: local('FiraMono Bold'), local('FiraMono-Bold'),
    url(../font/FiraMono-Bold.woff2) format('woff2'),
    url(../font/FiraMono-Bold.ttf) format('truetype');
}

$cjk-font: "PingFang SC", "Noto Sans SC", "Noto Sans CJK SC", "Noto Sans CJK", "SourceHanSansSC", "SourceHanSans", "STHeiti", "Microsoft Yahei";
$serif: Merriweather, Georgia, Times, $cjk-font, serif;
$sans-serif: "Merriweather Sans", Helvetica, Arial, $cjk-font, sans-serif;
$monospace: FiraMono, Menlo, Consolos, $cjk-font, monospace;
$base-font-family: $serif;
$base-font-size: medium;
// 16px
$base-line-height: 1.5;
$body-font: $serif;
$heading-font: $sans-serif;
$code-font: $monospace;

// Color
$primary-text-color: rgba(0, 0, 0, .8);
$secondary-text-color: rgba(0, 0, 0, .6);
$disable-text-color: rgba(0, 0, 0, .54);
$primary-text-color-light: rgba(255, 255, 255, 1);
$secondary-text-color-light: rgba(255, 255, 255, .7);
$disable-text-color-light: rgba(255, 255, 255, .3);
$link-text-color: $primary-text-color;
$hair-line-color: rgba(0, 0, 0, .15);
$hair-line-color-dark: rgba(0, 0, 0, .25);
$hair-line-color-light: rgba(0, 0, 0, .05);
$background-color: #fff;
$highlight-color: #ffb;
$white-color: #fff;
$red-color: #f44336;
$red-color-dark: #d32f2f;
$yellow-color: #ff9800;
$green-color: #8bc34a;
$blue-color: #2196f3;

// Dimens
$max-content-width: 800px;
$mobile-device-width: 360px;
$desktop-browser-width: 800px;

// Mixin
@mixin media-max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

// Reset
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}
code {
    font-family: $code-font;
}
a:link, a:visited {
    color: $primary-text-color;
    text-decoration: none;
}

body {
    color: $primary-text-color;
    background-color: $background-color;
    font: #{$base-font-size}/#{$base-line-height} $body-font;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

::selection {
    color: $white-color;
    background: $red-color;
}

/* Main Layout */
.main {
    margin: auto;
    max-width: $max-content-width;
}

.topbar {
    padding: 1rem 0;
    height: 2rem;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 1px;
        overflow: hidden;
        background: $hair-line-color;
        margin-top: -webkit-calc(3rem - 1px);
        margin-top: calc(3rem - 1px);
    }
    .logo {
        float: left;
        margin-left: 1rem;
        h1 {
            font: bold 1rem/2 $sans-serif;
        }
        h2 {
            display: none;
        }
    }
    .nav {
        float: right;
        margin-right: 1rem;
        #icon-menu {
            display: none;
            width: 2rem;
            height: 0;
            padding-top: 2rem;
            overflow: hidden;
            line-height: 2;
            background: Red;
        }
        #menu {
            li {
                display: inline-block;
                font-family: $sans-serif;
                text-transform: capitalize;
                a {
                    padding: 0 .5rem;
                    height: 2rem;
                    line-height: 2;
                    display: block;
                }
            }
        }
    }
}

@include media-min-width($max-content-width) {
    header {
        .brand {
            margin-left: 2rem;
        }
        .nav {
            margin-right: 2rem;
        }
    }
}

.postlist {
    .post-entry {
        border-bottom: 1px solid $hair-line-color-light;
        padding: 1rem 1rem -webkit-calc(1rem - 1px) 1rem;
        padding: 1rem 1rem calc(1rem - 1px) 1rem;
    }
    .post-title {
        font-size: 1.25em;
        line-height: 1.6;
        margin-bottom: .5rem;
    }
    .post-excerpt {
        color: $secondary-text-color;
    }
    .post-icon {
        display: inline-block;
        width: 2.5rem; //24px
        height: 2.5rem;
        border-radius: 1.25rem;
        background: #999;
    }
}

.paginate {
    padding: 2rem 1rem 0;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }
    a {
        transition: all 200ms cubic-bezier(0.6, 0, 0.4, 1);
    }
    a:link, a:visited {
        color: $white-color;
        font: 1rem/3 $sans-serif;
        display: block;
        padding: 0 2rem;
        border: 1px solid $hair-line-color;
        background: $red-color;
        border-radius: .3rem;
    }
    a:hover, a:active {
        background: $red-color-dark;
    }
    .paginate-newer {
        float: left;
    }
    .paginate-older {
        float: right;
    }
}

.footer {
    margin: 2rem auto;
    max-width: $max-content-width;
    color: $secondary-text-color;
    font-size: .875rem;
    line-height: 1.714;
    font-family: $sans-serif;
    p {
        padding: 1rem 1rem 0;
    }
    & a:link, & a:visited {
        color: inherit;
        text-decoration: underline;
    }
    & a:hover, & a:active {
        color: $primary-text-color;
    }
    .social-list {
        padding: 2rem 1rem 1rem;
        overflow: hidden;
        .social-icon {
            display: block;
            width: 24px;
            height: 0;
            padding-top: 24px;
            margin: 0 auto 8px;
            overflow: hidden;
            background-image: url(../img/social_icons.svg);
            background-repeat: no-repeat;
            transition: transform 200ms cubic-bezier(0.6, 0, 0.4, 1);
        }
        .social-text {
            display: block;
            font-size: .75rem;
            opacity: 0;
            transition: opacity 200ms cubic-bezier(0, 0, 1, 1);
        }
        .ic-dribbble {
            background-position: 0 0;
        }
        .ic-behance {
            width: 30px;
            background-position: 0 -96px;
        }
        .ic-github {
            background-position: 0 -48px;
        }
        .ic-weibo {
            width: 28px;
            background-position: 0 -144px;
        }
        li {
            float: left;
            a {
                float: left;
                width: 3.5rem;
                margin-right: .5rem;
                text-align: center;
                &:link, &:visited {
                    color: $disable-text-color;
                    text-decoration: none;
                }
                &:hover, &:active {
                    .social-icon {
                        transform: scale(1.333) translateY(-4px);
                    }
                    .social-text {
                        opacity: 1;
                    }
                    .ic-dribbble {
                        background-position: 0 -24px;
                    }
                    .ic-behance {
                        background-position: 0 -120px;
                    }
                    .ic-github {
                        background-position: 0 -72px;
                    }
                    .ic-weibo {
                        background-position: 0 -168px;
                    }
                }
            }
        }
    }
}

.notfound {
    padding: 5rem 1rem;
    font-size: 1.5rem;
    font-family: $sans-serif;
    text-align: center;
    text-transform: uppercase;
    .status-code {
        position: relative;
        z-index: 3;
        display: block;
        margin: 0 auto 2rem;
        width: 8rem;
        height: 8rem;
        font-size: 2.5rem;
        line-height: 8rem;
        color: #fff;
        background: #CCC;
    }
}

.post {
    max-width: 100%;
    .post-header-wrap, .post-content-wrap, .post-comments-wrap {
        margin: auto;
        max-width: $max-content-width;
    }
}

.post-header {
    padding: 2rem 1rem 1rem;
    .post-title {
        font-size: 2.75rem; // 44px
        line-height: 1.273; // 56px
        margin-bottom: 1rem;
        word-wrap: break-word;
        word-break: break-all;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .post-tags {
        font-family: $sans-serif;
        span {
            display: inline-block;
            margin-right: .2rem;
            margin-bottom: .4rem;
            padding: .2rem .4rem;
            border-radius: .4rem;
            border: 2px solid #ddd;
            color: $secondary-text-color;
        }
    }
    p {
        margin-bottom: 1rem;
        &.post-date {
            color: $secondary-text-color;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.post-content {
    font-size: 1.125rem; // 18px
    line-height: 1.778; // 32px
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    a:link, a:visited {
        color: $link-text-color;
        background-image: linear-gradient(rgba(0,0,0,0) 50%, $secondary-text-color 50%);
        background-repeat: repeat-x;
        background-size: 2px 2px;
        background-position: 0 100%;
    }
    a:hover, a:active {
        text-decoration: none;
    }
    h1 {
        font-size: 2.445em; // 44px
        line-height: 1.273; // 56px
        margin-bottom: .182em; // 8px
        margin-top: .182em * 2;
    }
    h2 {
        font-size: 2em; // 36px
        line-height: 1.556; // 56px
        margin-bottom: .222em; // 8px
        margin-top: .222em * 2;
    }
    h3 {
        font-size: 1.556em; // 28px
        line-height: 1.714; // 48px
        margin-bottom: .571em; // 16px
        margin-top: .571em * 2;
    }
    h4 {
        font-size: 1.333em; // 24px
        line-height: 1.667; // 40px
        margin-bottom: .667em; // 16px
        margin-top: .667em * 2;
    }
    h5 {
        font-size: 1.111em; // 20px
        line-height: 1.600; // 32px
        margin-bottom: .8em; // 16px
        margin-top: .8em * 2;
    }
    h6 {
        font-size: 1em; // 18px
        margin-bottom: .889em; // 16px
        margin-top:.889em * 2;
    }
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0;
    }
    p, blockquote, ul, ol, dl {
        margin-bottom: .889em;
    }
    ul, ol {
        padding-left: 1.5em;
        list-style: disc;
        ul, ol {
            margin-bottom: 0;
        }
    }
    ol {
        list-style: decimal;
    }
    dl {
        dt {
            font-weight: bold;
            &:first-letter {
                text-transform: uppercase;
            }
            &:after {
                content: ":";
            }
        }
        dd {
            margin-left: 1.5em;
        }
    }
    table {
        width: 100%;
        font-size: .889em;
        line-height: 1.5;
        margin-bottom: 1em;
        border-collapse: collapse;
        td, th {
            text-align: left;
            padding: .5em;
            border: 1px solid #ccc;
        }
    }
    p code, li code, dl code {
        background: #eee;
        margin: 0 .222em;
        padding: .222em .444em;
        border-radius: .222em;
        a:link, a:visited {
            color: $primary-text-color;
        }
    }
    blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 4px solid #eee;
    }
    pre {
        margin-bottom: 1em;
        font-size: .889em;
        line-height: 1.5;
        code {
            display: block;
            background: #f5f5f5;
            border-radius: 4px;
            padding: 1em;
            overflow: scroll;
        }
    }
    img {
        display: block;
        margin: 0 auto .889em;
        border-radius: 4px;
        max-width: $max-content-width - 40;
        max-width: 100%;
        & + em,  & + strong {
            display: block;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            color: $secondary-text-color;
            font-size: .889em;
        }
    }
    hr {
        margin: 1.778em auto;
        width: 5em;
        height: 2px;
        border: 0;
        background: $hair-line-color;
    }
    abbr {
        border-bottom: 1px dotted;
        cursor: help;
    }
    a.footnote:link, a.footnote:visited,
    a.reversefootnote:link, a.reversefootnote:visited {
        color: inherit;
    }
    .footnotes {
        color: $secondary-text-color;
        font-size: .889em;
        line-height: 1.5;
        margin-top: 2em;
        padding: 1em 0 0;
        border-top: 1px solid $hair-line-color-light;
        li {
            margin-bottom: 1em;
        }
        p {
            margin-bottom: 0;
        }
        &:link, &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
    .tips {
        padding: .5em 0 .5em 2em;
        color: $secondary-text-color;
    }
    @mixin downicon($icon) {
        white-space: nowrap;
        padding-left: 1.2em;
        background: url(#{$icon}) no-repeat 0 40%;
    }
    a.download[href$=".psd"] {
        @include downicon('../img/icon_psd.svg');
    }
    a.download[href$=".zip"] {
        @include downicon('../img/icon_zip.svg');
    }
}

.post-related {
    font-size: 1.125rem; // 18px
    line-height: 1.778; // 32px
    margin-top: 2rem;
    padding: 1rem;
    a:link, a:visited {
        color: inherit;
    }
    a:hover, a:active {
        text-decoration: underline;
    }
}

.post-comments {
    padding: 0 1rem;
    #SOHUCS {
        padding-top: 2rem;
        border-top: 1px solid $hair-line-color;
    }
    #SOHUCS, #SOHUCS #SOHU_MAIN, #SOHUCS #SOHU_MAIN #SOHU-comment-main {
        font-family: inherit;
        font-size: 1rem;
    }
    #SOHUCS #SOHU_MAIN #powerby_sohu {
        height: 0;
    }
    #SOHUCS #SOHU_MAIN .section-service-w .service-wrap-w {
        padding: 0;
    }
    #SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w a {
        color: rgba(0, 0, 0, 0);
    }
    #SOHUCS #SOHU_MAIN .section-list-w .list-comment-empty-w .empty-prompt-w .prompt-null-b {
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem;
        border-radius: 4px;
    }
    #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w, #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w img {
        border-radius: 4px;
    }
    #SOHUCS #SOHU_MAIN .section-cbox-w {
        padding-bottom: 41px;
    }
    #SOHUCS #SOHU_MAIN .section-cbox-w .block-post-w {
        padding-left: 58px;
    }
    #SOHUCS #SOHU_MAIN .section-title-w {
        height: 1.5rem;
        line-height: 1.5rem;
        margin: 0 0 1rem;
        padding: 0;
    }
    #SOHUCS #SOHU_MAIN .section-title-w .title-join-w .join-wrap-w {
        font-family: inherit;
    }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .wrap-name-w {
        font-size: 1rem;
    }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w strong.wrap-name-b {
        color: $primary-text-color;
    }
    #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w span.wrap-join-b {
        display: none;
    }
}

.resources {
    position: relative;
    padding: 1rem;
    .resource-nav {
        padding: 1em 0;
        li {
            display: inline;
            a {
                display: inline-block;
                margin: 0 .3rem .6rem 0;
                padding: .3rem .5rem;
                border-radius: .2rem;
                background: #eee;
                color: $secondary-text-color;
                &:hover, &:active {
                    color: $white-color;
                    background: $red-color;
                }
            }
        }
    }
    h3 {
        font-size: 1.75rem; //28
        line-height: 3rem; //48
        margin-bottom: 1rem;
    }
    .resource-list {
        margin-bottom: 2rem;
        li {
            margin-bottom: 1rem;
        }
        .res-title {
            font-weight: bold;
        }
        .res-author, .res-developer {
            margin-left: .5rem;
            font-size: .875rem;
            color: $secondary-text-color;
            a:link, a:visited {
                color: $secondary-text-color;
            }
            a:hover, a:active {
                text-decoration: underline;
            }
        }
        .res-desc {
            color: $secondary-text-color;
            a:link, a:visited {
                text-decoration: underline;
            }
        }

        @mixin filetypeicon($icon) {
            white-space: nowrap;
            padding-right: 1.3rem;
            background: url(#{$icon}) no-repeat 100% 50%;
        }
        a[href$=".pdf"] {
            @include filetypeicon('../img/icon_pdf.svg');
        }
        a[href$=".zip"] {
            @include filetypeicon('../img/icon_zip.svg');
        }

    }
    .top {
        position: absolute;
        display: block;
        opacity: 0;
        right: 1rem;
        top: 0;
        margin-top: 2rem;
        width: 4rem;
        height: 4rem;
        text-indent: -999px;
        overflow: hidden;
        background: url(../img/top.svg) no-repeat 50%, linear-gradient(#f8f8f8, #eee) no-repeat;
        border-radius: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .2);
        &:hover, &:active {
            box-shadow: 0 6px 12px 2px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .1);
        }
    }
    .resource-tip {
        color: $secondary-text-color;
        p {
            margin-bottom: 1rem;
        }
    }
}

.highlight {
    word-wrap: normal;
    word-break: normal;
    & + p > em, & + p > strong {
        display: block;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: $secondary-text-color;
        font-size: .889em;
    }
    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #999; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #999; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
    .lineno { color: #ccc }
    .language-bash {
        color: $white-color;
        background: $primary-text-color;
        * {
            color: $white-color;
        }
    }
}

#donate-dialog-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all 0.4s ease-out;
    -webkit-backdrop-filter: blur(10px);
}

.modal {
    display: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 320px;
    margin: -160px 0 0 -240px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transform: rotate(-20deg);
    transition: all 0.4s ease-out;
}


// TODO: mobile menu
