<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
<meta charset="utf-8">
<title>...</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?776d4b84501659ee9df066260e5bd1a0";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="layout-book">
    <section class="book-content">
        <article>
            <div class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
            </div>
            <div class="post-content">
                {{ content }}
            </div>
        </article>
    </section>
    <aside class="book-sidebar">
        <header class="book-title">
            <hgroup>
                <h1>{{ site.data.book.title }}</h1>
                <h2>{{ site.data.book.subtitle }}</h2>
            </hgroup>
        </header>
        <nav class="book-menu">
            <ul>
                {% for book in site.data.book %}
                {% assign chapters = book[1] %}
                {% for chapter in chapters %}
                <li>
                    <h3><a class="" href="{{ chapter["url"] }}.html">{{ chapter["title"] }}</a></h3>
                    {% assign subchapters = chapter["subchapters"] %}
                    {% assign subchaptersCount = subchapters | size %}
                    {% if subchaptersCount > 0 %}
                    <ul>
                        {% for subchapter in subchapters %}
                        <li>
                            <a class="" href="{{ chapter["url"] }}.html#{{ subchapter["url"] }}">{{ subchapter["title"] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </nav>
        <footer>
            CC footer
        </footer>
    </aside>
</div>
</body>
</html>