{% include head.html pagename="book" %}

<div class="layout-book">
    <section class="book-content">
        <article>
            <div class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
            </div>
            <div class="post-content">
                {{ content }}
            </div>
        </article>
    </section>
    <aside class="book-sidebar">
        {% assign pageParts = page.id | split: "/" %}
        {% assign bookname = pageParts[2] %}
        <header class="book-title">
            <hgroup>
                <h1>{{ site.data[bookname].title }}</h1>
                <h2>{{ site.data[bookname].subtitle }}</h2>
            </hgroup>
        </header>
        <nav class="book-menu">
            <ul>
                {% for book in site.data[bookname] %}
                {% assign chapters = book[1] %}
                {% for chapter in chapters %}
                <li>
                    <p>{{ chapter["title"] }}</p>
                    {% assign subchapters = chapter["subchapters"] %}
                    {% assign subchaptersCount = subchapters | size %}
                    {% if subchaptersCount > 0 %}
                    <ul>
                        {% for subchapter in subchapters %}
                        <li>
                            <a href="{{ subchapter["url"] }}">{{ subchapter["title"] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
</div>

{% include footer.html %}
