{% include head.html pagename="section-post" %}
<div class="main post">
    <article>
        <header class="post-header-wrap">
            <div class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                {% if page.author %}<p class="post-author">作者 {{ page.author }}.</p>{% endif %}
                {% if page.date %}
                <p class="post-date">
                    发布于<time class="post-publish" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y年%m月%-d日" }}</time>{% if page.updated %}，最后修订于<time class="post-updated" datetime="{{ page.updated | date: "%Y-%m-%d" }}">{{ page.updated | date: "%Y年%m月%-d日" }}</time>{% endif %}。
                </p>
                {% endif %}
                {% assign tagCount = page.tags | size %}
                {% if tagCount > 0 %}
                <p class="post-tags">
                    {% for tag in page.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </header>
        <div class="post-content-wrap">
            <div class="post-content">
                {{ content }}
            </div>
            {% if page.elsewhere %}
            <div class="post-elsewhere">
                <p>此文章发布在以下网站，如有问题可前往评论。</p>
                <ul>
                    {% for link in page.elsewhere %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </article>

    {% include donate.html %}

</div>

{% include footer.html %}
