{% include head.html pagename="section-post" %}
{% if page.figure %}
<div class="post-figure" style="background-image:url({{ page.figure }});">
    <div class="post-figure-inner">
        {% include post_header.html %}
    </div>
</div>
<div class="main post">
    <article class="post-content">
        {{ content }}
    </article>
</div>
{% else %}
<div class="main post">
    {% include post_header.html %}
    <article class="post-content">
        {{ content }}
    </article>
    {% if page.comment %}
    {% include comments.html sourceid=page.sohucs %}
    {% endif %}
</div>
{% endif %}
{% include footer.html %}
